{% set dqlConditionOptions = {} %}

<li class="option dql-filter-link" data-criteria="condition-dql"
    data-module="okvpndqlfilter/js/views/dql-condition-view"
    data-options="{{ dqlConditionOptions|json_encode }}">
    {{ 'DQL'|trans }}
    {% set params = oro_action_widget_parameters()|merge({'group': 'queryDesignerEditor', 'datagrid': 'fake-dql-grid'}) %}
    {% include 'OroActionBundle:Widget:_widget.html.twig' %}
</li>
