{% set dqlConditionOptions = {} %}

<li class="option" data-criteria="condition-dql"
    data-module="okvpndqlfilter/js/dql-condition"
    data-widget="dqlCondition"
    data-options="{{ dqlConditionOptions|json_encode }}">
    DQL
</li>
